body {
	font-family: Inter;
	background-color: #333;
	text-align: center;
}

.resizecorss {
	/* border: 1px solid red; */
}

.borderset {
}

.border-gradient {
	border: 10px solid;
	border-image-slice: 1;
	border-width: 5px;
}
.border-gradient-purple {
	border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}

.border-gradient-red {
	border-image-source: linear-gradient(to left, #a41d6f, #ac0d0d);
}
